/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: pink;
    color: #333;
    margin: 10%;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:silver;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.btn-primary {
    background-color: blue;
    color:white;
}

.btn-secondary {
    background-color:green;
    color: white;
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 0.8;
}
