{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'css/addproduct.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/venkyshop.png' %}">
</head>
<body>
    <h1>Add Product</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <!-- Form for uploading Excel file -->
    <form method="post" enctype="multipart/form-data" action="{% url 'upload_excel' %}" class="mb-2">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <label for="excel_file">Upload Excel File:</label>
        <input type="file" name="excel_file" id="excel_file" accept=".xlsx, .xls" required>
        <button type="submit" class="btn btn-primary btn-sm">Upload Excel</button>
    </form>
</body>
</html>
