{% extends 'base.html' %}

{% block title %}
    Product List - venky Shop
{% endblock %}

{% block content %}

    <h1>Product List</h1>

    <!-- Search Form -->
    <div class="row mb-4">
        <div class="col-md-6">
            <!-- Left side content (if any) -->
        </div>
        <div class="col-md-6 text-right">
            <!-- Right side content -->
            <a href="{% url 'add_product' %}" class="add-product-link">
                {% load static %}
                <img src="{% static 'images/addproduct.png' %}" alt="Add Product" class="add-product-icon">
            </a>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    

    <!-- Product Cards -->
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ product.image }}" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Discount - 30% | ${{ product.price }}</p>
                        <p class="card-text">Quantity: {{ product.quantity }}</p>
                        <a href="{% url 'update_product' product.id %}" class="btn btn-primary">Update</a>
                        <form method="post" action="{% url 'delete_product' product.id %}" style="display: inline; margin-top: 10px;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


