{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/venkyshop.png' %}">
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-primary">Register</button>
            <button type="button" class="btn-secondary" onclick="window.location.href='{% url 'user_login' %}'">Login</button>
        </form>
    </div>
</body>
</html>
