{% extends 'base.html' %}
{% block title %}Wishlist{% endblock %}

{% block content %}
    <h1 class="wishlist-heading">Wishlist</h1>
    <div class="row">
        {% for item in wishlist_items %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ item.product.image }}" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.name }}</h5>
                        <p class="card-text">Price: ${{ item.product.price }}</p>
                        <p class="card-text">Quantity: {{ item.product.quantity }}</p>
                        <form method="post" action="{% url 'remove_from_wishlist' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Remove from Wishlist</button>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p class="wishlist-empty">Your wishlist is empty.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
